<!-- Services page partial -->
<% include partials/header.ejs %>

<p>I also offer services!</p>
<ul>
    <li>Webpage building (Html/Css/Js)</li>
    <li>Front desk reception (Quickbooks)</li>
    <li>OracleSQL Dev </li>
</ul>
<% include partials/footer.ejs %>
